@{
    ViewData["Title"] = "История";
    Layout = "~/Views/Shared/_LayoutCreator.cshtml";
}

<div class="page-table container-card">
    <main class="page-history-Students">
        <div class="table">
            <div class="colums">
                <div class="colum-1">
                    <span>№</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-2">
                    <span>фио</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-3">
                    <span>группа</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-4">
                    <span>баллы</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-5">
                    <span>оценка</span>
                </div>
            </div>
            <div class="rows">
                <div class="row">
                    <div class="colum-1">
                        <span>1</span>
                    </div>
                    <div class="colum-2">
                        <span>Селезнев Александр Григорьевич</span>
                    </div>
                    <div class="colum-3">
                        <span>ИС1-211-ОТ</span>
                    </div>
                    <div class="colum-4">
                        <span>70/100</span>
                    </div>
                    <div class="colum-5">
                        <span>5</span>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<script src="~/js/scriptClear.js" asp-append-version="true"></script>
<script src="~/js/scriptbtnBackHide.js" asp-append-version="true"></script>
<script src="~/js/scriptOpenTest.js" asp-append-version="true"></script>