<div class="page-table">
    <main class="page-history-Student">
        <div class="table">
            <div class="colums">
                <div class="colum-1">
                    <span>№</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-2">
                    <span>предмет</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-3">
                    <span>тип</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-4">
                    <span>баллы</span>
                </div>
                <div class="vertical"></div>
                <div class="colum-5">
                    <span>оценка</span>
                </div>
            </div>
            <div class="rows">
                <div class="row">
                    <div class="colum-1">
                        <span>1</span>
                    </div>
                    <div class="colum-2">
                        <span>история</span>
                    </div>
                    <div class="colum-3">
                        <span>олимпиада</span>
                    </div>
                    <div class="colum-4">
                        <span>85/100</span>
                    </div>
                    <div class="colum-5">
                        <span>5</span>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<script src="~/js/scriptClear.js" asp-append-version="true"></script>
<script src="~/js/scriptbtnBackHide.js" asp-append-version="true"></script>
<script src="~/js/scriptOpenTest.js" asp-append-version="true"></script>


