@{
    ViewData["Title"] = "Вход";
}

<div class="container">
    <h1>Вход</h1>
    <div>
        <div class="textBox">
            <p>Логин</p>
            <input type="text" placeholder="Введите логин..." />
        </div>
        <div class="textBox">
            <p>Пароль</p>
            <input type="password" placeholder="Введите пароль..." />
        </div>
        <div class="btn">
            <a class="buttonHide" asp-area="" asp-controller="Registration" asp-action="Registration">Зарегистрироваться</a>
            <a class="button" asp-area="" asp-controller="Home" asp-action="HomeUser">Войти</a>
            <a class="button" asp-area="" asp-controller="Cards" asp-action="TestingEditor">Войти</a>
        </div>
    </div>
</div>
