<div class="page-card">
    <main class="page-active-Student">
        <div class="card">
            <div class="test-info">
                <div class="top">
                    <div class="type">
                        <span>Олимпиада</span>
                    </div>
                </div>
                <div class="center">
                    <div class="name">
                        <span>История</span>
                    </div>
                    <div class="info">
                        <div class="item">
                            <span>Преподаватель: Петрова У. Г. </span>
                        </div>
                        <div class="item">
                            <span>Осталось времени: 34 мин </span>
                        </div>
                        <div class="item">
                            <span>Попытки: 2/3 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <a class="btn-start">Продолжить</a>
            </div>
        </div>
    </main>
</div>
<script src="~/js/scriptbtnBackHide.js" asp-append-version="true"></script>
<script src="~/js/scriptOpenTest.js" asp-append-version="true"></script>
<script src="~/js/scriptClear.js" asp-append-version="true"></script>