@{
    ViewData["Title"] = "Входящие тестирования";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="page-card">
    <main>
        <div class="card">
            <div class="test-info">
                <div class="top">
                    <div class="type">
                        <span>Тест</span>
                    </div>
                </div>
                <div class="center">
                    <div class="name">
                        <span> Проектирование и дизайн инф. систем </span>
                    </div>
                    <div class="info">
                        <div class="item">
                            <span>Преподаватель: Иванов И.И </span>
                        </div>
                        <div class="item">
                            <span>Время: 45 мин </span>
                        </div>
                        <div class="item">
                            <span>Попытки: 3 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <a id="btnStart" class="btn-start">Начать</a>
            </div>
        </div>
       
    </main>
</div>
<script src="~/js/scriptClear.js" asp-append-version="true"></script>
<script src="~/js/scriptbtnBackHide.js" asp-append-version="true"></script>
<script src="~/js/scriptOpenTest.js" asp-append-version="true"></script>