<div class="page-1">
    <div class="main-center">
        <div class="main-left">
            <div class="block-info-1">
                <div class="block-1">
                    <div class="item1">
                        <span>Текущий прогресс 4 из 7</span>
                    </div>
                    <div class="item2">
                        <div class="item2-row">
                            <img class="icon1"
                                 src="~/img/icons/active.svg"
                                 alt="" />
                            <span>Активные: 4</span>
                        </div>
                        <div class="item2-row">
                            <img class="icon2" src="~/img/icons/mail.svg" alt="" />
                            <span>Входящие: 3</span>
                        </div>
                    </div>
                    <div class="item3">
                        <div class="progress-bar">
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-info-2">
                <div class="block-2">
                    <div class="item1">
                        <span>Ваш общий средний балл: 5</span>
                    </div>
                    <div class="item2">
                        <span>Средний балл за тесты: 5</span>
                    </div>
                    <div class="item3">
                        <span>Средний балл за олимпиады: 5</span>
                    </div>
                </div>
            </div>
            <div class="block-info-3">
                <div class="block-2">
                    <div class="item1">
                        <span>Пройдено за всё время:</span>
                    </div>
                    <div class="item2">
                        <span>тестов - 6</span>
                    </div>
                    <div class="item3">
                        <span>олимпиад - 2</span>
                    </div>
                </div>
            </div>
            <div class="block-info-4">
                <div class="block-4">
                    <div class="block-top">
                        <div class="item1">
                            <img src="~/img/icons/active.svg" alt="" />
                            <span>Активные тестирования</span>
                        </div>
                        <div class="item2">
                            <a id="btnGoOwer" class="btn-GoOver">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="block-center">
                    <div class="table">
                        <div class="colums">
                            <div class="colum-1">
                                <span>№</span>
                            </div>
                            <div class="vertical"></div>
                            <div class="colum-2">
                                <span>название</span>
                            </div>
                            <div class="vertical"></div>
                            <div class="colum-3">
                                <span>тип</span>
                            </div>
                            <div class="vertical"></div>
                            <div class="colum-4">
                                <span>выполненно</span>
                            </div>
                        </div>
                        <div class="rows">
                            <div class="row">
                                <div class="colum-1">
                                    <span>1</span>
                                </div>
                                <div class="colum-2">
                                    <span>История</span>
                                </div>
                                <div class="colum-3">
                                    <span>олимпиада</span>
                                </div>
                                <div class="colum-4">
                                    <span>12/20</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="block-top">
                <div class="block-left">
                    <span>Вы на 1 месте</span>
                </div>
                <div class="block-right">
                    <div>
                        <a class="rfbtn left-a rfbtnActive">Ваша группа</a>
                        <a class="rfbtn">Все группы</a>
                    </div>

                </div>
            </div>
            <div class="block-center">
                <div class="table">
                    <div class="colums">
                        <div class="colum-1">
                            <span>Место</span>
                        </div>
                        <div class="vertical"></div>
                        <div class="colum-2">
                            <span>ФИО</span>
                        </div>
                        <div class="vertical"></div>
                        <div class="colum-3">
                            <span>Средний балл</span>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="row">
                            <div class="colum-1">
                                <span>1</span>
                            </div>
                            <div class="colum-2">
                                <span>Иванов И. И</span>
                            </div>
                            <div class="colum-3">
                                <span>5</span>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<script src="~/js/scriptStudentHome.js" asp-append-version="true"></script>
<script src="~/js/scriptClear.js" asp-append-version="true"></script>
<script src="~/js/scriptbtnBackHide.js" asp-append-version="true"></script>
<script src="~/js/scriptRfBtn.js" asp-append-version="true"></script>
